@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar,
select::-webkit-scrollbar {
  @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-slate-300 dark:bg-slate-950 dark:scrollbar-track-slate-950 dark:scrollbar-thumb-slate-800;
} */

body::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  background: #ffffff;
  @apply dark:bg-slate-950;
}

body::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background: #bbb;
  @apply dark:bg-slate-800;
}

body {
  overflow-x: hidden;
}

.custom-scrollbar {
  @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-slate-200 dark:bg-slate-950 dark:scrollbar-track-slate-950 dark:scrollbar-thumb-slate-800;
}
